.videos {
    display: block;
    margin: 25px auto 10px;
    padding: 0;
    box-sizing: border-box;
    max-width: 960px;
    min-width: 240px;
    text-align: center;

    .video {
        display: inline-block;
        width: 300px;
        margin: 3px;
        padding: 0;
        height: 200px;
        background-color: rgb(55, 55, 55);

    }
}

.desc {
    display: block;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    max-width: 820px;
    min-width: 240px;
    text-align: left;
}

$button-red:rgb(187, 0, 0);

a.register {
    display: block;
    margin: 0 auto 50px;
    text-align: center;
    background-color: $button-red;
    color: white;
    max-width: 240px;
    height: 45px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 11px 0;
    border: 1px solid darken($button-red, 10%);
    text-shadow: 0 0 3px darken($button-red, 50%);
    //box-shadow: 1px 1px 4px darken($button-red, 30%);
    text-decoration: none;
    transition: all linear 0.25s;
}
a.register:hover {
    box-shadow: 0px 0px 5px darken($button-red, 25%);
    background-color: lighten($button-red, 5%);
}

a.register:active {
    box-shadow: inset 0px 0px 5px darken($button-red, 25%);
    background-color: darken($button-red, 5%);
}
