@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import 'https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700|Source+Sans+Pro:400,700';

$font: 'Raleway',Arial, sans-serif;

body {
    font-family: $font;
    margin: 0;
    background-color: #f5f5f5;
}

h2 {
    color: #3b3b3b;
    font-weight: lighter;
    font-size: 40px;
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    text-align: center;
}
