@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

$primary-color: #ece7e7;
$secondary-color: #b40000;

$nav-bar-height: 30px;
$nav-bar-gap: 7px;

$blood-red: #a81b1b;

.nav-button {
    font-weight: normal;
    color: #535252;
    text-decoration: none;
    font-size: 17px;
    margin: $nav-bar-gap 5px;
    border-radius: 5px;
    padding: 3px 15px;
    height: $nav-bar-height;
    //border: 1px solid darken($primary-color, 20%);
    transition: all linear 0.2s;
}

.nav-button:hover {
    background: darken($primary-color, 20%);
}

.nav-button:active {
    color: white;
    background-color: $blood-red;
    text-shadow: 0 0 2px darken($blood-red, 25%);
}

.nav-button.active {
    color: white;
    background-color: darken($blood-red, 5%);
    text-shadow: 0 0 2px darken($blood-red, 25%);
    //border: 1px solid darken($blood-red, 7%);
}

nav {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: 0 0 5px darken($secondary-color, 50%);
    @include linearGradient($primary-color, darken($primary-color, 8%));

    header {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        background: $primary-color;
        //@include linearGradient($primary-color, darken($primary-color, 10%));
        border-bottom: 1px solid darken($primary-color, 20%);
        box-shadow: 0 0 5px #262626;
        z-index: 10;
        position: relative;
        img {
            margin: 0 15px;
            display: inline-block;
        }
        img.nzb {
            position: relative;
            width: 203px;
            top: -7px;
        }
        span {
            display: inline-block;
            margin: 0;
            position: relative;
            top: -28px;
            font-size: 18px;
            font-weight: bold;
        }
        @media screen and (max-width: 480px) {
            span {
                display: none;
            }
        }

        h1 {
            /*color: $blood-red;
            margin: 3px;
            display: block;
            width: 100%;
            padding: 0;
            text-align: center;
            font-weight: normal;*/
            display: none;
        }


    }

    section.nav-container {
        list-style: none;
        margin: 0;
        padding: 0;
        height: $nav-bar-height + (2 * $nav-bar-gap);
        box-sizing: border-box;
        display: block;
        width: 100%;
        text-align: center;
        overflow: hidden;
        background-color: $blood-red;
        border-bottom: 1px solid darken($blood-red, 10%);
        z-index: 0;

        h2 {
            margin: 0;
            padding: 9px 0;
            color: white;
            display: block;
            height: 100%;
            box-sizing: border-box;
            font-weight: lighter;
            font-size: 22px;
            text-shadow: 0 0 3px darken($blood-red, 45%);
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: $nav-bar-height + (2 * $nav-bar-gap);
        box-sizing: border-box;
        display: block;
        width: 100%;
        text-align: center;
        overflow: hidden;
        //background-color: $secondary-color;
        //border-bottom: 1px solid darken($secondary-color, 10%);

    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        box-sizing: border-box;
    }
}
