include ./globals
-var page = { title: "About" + title_suffix, nav_title: "Cambridge High School Blood Drive" }
html(lang="en")
    head
        title= page.title
        include ./templates/header
        link(href='/css/index.css', rel='stylesheet')
    body
        include ./templates/nav
        main
            //h2 Hello world!
            section.videos
                div.video Video1
                div.video Video2
                div.video Video3
            p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum nunc ac condimentum volutpat. Sed tempor sem ac erat consequat aliquet. Vestibulum tempor pellentesque mi ut molestie. Sed viverra, erat in vestibulum varius, purus dolor sollicitudin elit, sit amet elementum felis justo quis nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas commodo, orci non euismod finibus, magna nisi molestie mauris, eget faucibus diam mauris sed augue. Phasellus pulvinar urna eu ante commodo, non sagittis dui elementum. Donec et rutrum elit, at mattis massa. Nam et erat fermentum, placerat mi eget, fringilla nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            a.register(href="/register") Register
