include ./globals
-var page = { title: "Register" + title_suffix, nav_title: "Register" }
html(lang="en")
    head
        title= page.title
        include ./templates/header
        link(href='/css/register.css', rel='stylesheet')
    body
        include ./templates/nav
        main
            h2 Register
