mixin nav-button(text, link)
    if page.nav_title == text
        li
            a.nav-button.active(href=link)=text
    else
        li
            a.nav-button(href=link)=text

nav
    header
        h1 CHS Blood Drive
        img.chs(src="/img/camhigh2.png", alt="NZ Blood Logo")
        span +
        img.nzb(src="/img/nzb-logo.png", alt="CHS Logo")
    section.nav-container
        h2= page.nav_title
    //ul.nav-container
        +nav-button('Home', '/')
        +nav-button('About', '/about/')
        +nav-button('Register', '/register/')
        if !locals.user.loggedIn
            +nav-button('Login', '/login')
        else
            +nav-button('Logout', '/logout')
